<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="i.sigit.findnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ilaunchh"
        android:label="Find-News"
        android:roundIcon="@mipmap/ilaunchh_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="i.sigit.findnews.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="i.sigit.findnews.NewsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="i.sigit.findnews.Splash"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>